*, 
*::before,
*::after {
    box-sizing: border-box;
}

  body {
      margin: 0;
      font-family: 'Roboto', sans-serif;
      line-height: 1.6;
  }

  img {
      max-width: 100%;
      display: block;
  }

  h1, h2, h3, p {
      margin: 0;
  }

  .container {
      width: 85%;
      max-width: 1040px;
      margin: 0 auto;
  }

  section {
      padding: 5em 0;
  }

  .columns {
      display: flex;
      gap: 16px;
      flex-wrap: wrap;
      justify-content: center;

      & > * {
          flex-basis: 30%;
          min-width: 240px;
      }
  }

  .stack > * + * {
      margin-top: var(--spacer, 2rem);
  }

  .btn {
      display: inline-block;
      text-decoration: none;
      color: var(--text-color, #fff);
      font-weight: 700;
      padding: 8px 20px;
      background: var(--highlight-color,#29B5E0);
      text-transform: uppercase;
      font-size: 1.125rem;
      border-radius: 4px;
      transition: transform 0.5s ease-in-out, opacity 0.5s linear;
  }

  .btn:hover, .btn:focus {
      transform: scale(1.1);
      opacity: .9;
  }

//   Hero Section
  .hero-title {
      font-size: 4rem;
      font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
      line-height: 1;
      text-transform: uppercase;
  }

  .hero p {
      text-transform: uppercase;
  }

  .hero {
    color: #fff;
    text-align: center;
    padding: 15em 0;
    background: #222;
  
    @supports (background-blend-mode: multiply) {
      background: url(../img/garmin1.png),
      linear-gradient(#1CB5E0 50%,#000046 100%);
      background-blend-mode: multiply;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

//   Spotlight Products
  .section-title-one {
      text-align: center;
      font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
      line-height: 1;
      color: #000046;
      margin-bottom: 3rem;
  }

  .spotlight {
      background: #eee;

      &-item {
          display: block;
          position: relative;
          transform: scale(.85);
          transition: transform 0.25s ease-in-out;
          text-decoration: none;
          color: #333;
          text-align: center;
          line-height: 1.1;

          &:hover,
          &:focus {
              transform: scale(1);

              .spotlight-details {
                  opacity: 1;
                  text-shadow: 0 0 32px rgba( #29B5E0, 1);
              }
          }

          &::after {
              content: '';
              position: absolute;
              top: 1px;
              left: 5px;
              padding:  75% 75% 0 0;
              background: #29B5E0;
              border-radius: 50%;
              z-index: -1;
          }


      }

      &-details {
        opacity: 0;
        transition: opacity 0.25s linear;

        span {
            display: block;
            font-weight: 700;
            font-size: 2.2rem;
        }
      }
  }

//   Our Products
.section-title-two {
    text-align: center;
    font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
    line-height: 1;
    color: #000046;
    margin-bottom: 11rem;
}
.product {
    background: radial-gradient(var(--product-inner, #29B5E0), var(--product-outer, #3FA0E0));
    padding: 35px;
    border-radius: 50px;
    margin-bottom: 220px;
    text-align: center;

    &-title {
        font-size: 2.9rem;
        color: #fff;
        text-shadow: 0 0 5px rgba(#000000, .2);
        line-height: 1;
    }

    &-description {
        text-transform: uppercase;
        font-size: 16px;
    }

    &-image {
        margin: -150px 0 0 0;
    }

    @media (min-width: 720px) {
        text-align: right;

        &-image {
            float: left;
            width: 65%;
            margin: -122px 0 0 0;
            shape-outside: circle(40%);
            shape-margin: 1rem;
        }

        &.watch-marine {
            text-align: left;
            .product-image {
                float: right;
            }
        }

        &.watch-green {
            text-align: left;
            .product-image {
                float: right;
            }
        }

        &.watch-yellow {
            text-align: left;
            .product-image {
                float: right;
            }
        }

    }

    @media (min-width: 900px) {

        &-image {
            width: 50%;
        }

    }

}

.watch-blue {
    --product-inner: #29B5E0;
    --product-outer: #3FA0E0;
    --highlight-color: #00CADD;

    }

.watch-marine {
    --product-inner: #29B5E0;
    --product-outer: #00CADD;
    --highlight-color: #00DCC9;

    }

.watch-surfgreen {
    --product-inner: #00CADD;
    --product-outer: #00DCC9;
    --highlight-color: #6AEBAA;

    }

.watch-green {
    --product-inner: #00DCC9;
    --product-outer: #6AEBAA;
    --highlight-color: #B2F588;

    }

.watch-greenspring {
    --product-inner: #6AEBAA;
    --product-outer: #B2F588;
    --highlight-color: #00DCC9;

    }
    
.watch-yellow {
    --product-inner: #B2F588;
    --product-outer: #F9F871;
    --highlight-color: #6AEBAA;

    }


    
